.dropDown {
  width: 118px;
  height: 48px;

  align-items: center;
  text-align: center;
  color: #b0b0b0;

  /* or 24px */
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  border-radius: 4px;

  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

option {
  background-color: black;
  color: white;
}

option.active {
  background-color: red;
}
