.filter-wrapper {
  float: left;
  width: 15vw;
  padding-left: 66px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.filter-item:hover {
  cursor: pointer;
  color: #ff6000;
}

.remove-filter-button {
  background-color: red;
  border: none;
  border-radius: 50%;
  width: 15px;
  color: white;
  margin-right: 0.4rem;
  height: 15px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}
.sorting {
  cursor: pointer;
}
