.header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 95.17%;
  height: 96px;
  width: 1840px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

.logo-wrap {
  position: absolute;
  left: 1.56%;
  right: 79.76%;
  top: 28.56%;
  bottom: 96.68%;
  height: 35px;
}
